= link_to Settings.appname, root_url(:subdomain=>Settings.primary_domain), :class => 'brand'
%ul.nav
  %li=link_to "最新发现",items_recent_url(:subdomain=>Settings.primary_domain)
  -#%li=link_to "热门",items_hot_url
  
-#%ul.nav.pull-right
  -#- if user_signed_in?
    -#%li= link_to 'Logout', destroy_user_session_path, :method=>'delete'

    -#%li= link_to 'Edit account', edit_user_registration_path
  -#- else
    %li= link_to 'Login', new_user_session_url(:subdomain=>'www'),:rel=>'nofollow'
