= link_to t('appname'), root_url(:subdomain=>'www'), :class => 'brand'
%ul.nav
  
-#%ul.nav.pull-right
  -#- if user_signed_in?
    -#%li= link_to 'Logout', destroy_user_session_path, :method=>'delete'

    -#%li= link_to 'Edit account', edit_user_registration_path
  -#- else
    %li= link_to 'Login', new_user_session_url(:subdomain=>'www'),:rel=>'nofollow'
